.projects {
    /* color: #DAA520; */
    width: 100%;
    background-color: #F1CA58;
    /* background-color: #070b34; */
    padding-bottom: 40px;
}
#title-project-project {
    padding-top: 55px;
    padding-bottom: 15px;
    margin-top: 20px;
    color: #222;
    margin-bottom: 40px;
}

.projects > div:nth-child(1) {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.content-projects {
    justify-content: space-between;
    width: 100%;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill,550px);  
    justify-content: center;
}


.projects-box {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border-radius: 10px;
    color: #222;
    width: 550px;
    height: 300px;
    /* border: #050505 1px solid; */
    background-color: white ;
}

.content-para{
    font-size: 18px;
    padding: 15px;
    line-height: 25px;
}

.project-metadata {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    border-top: solid 6px #eb4d4b;
    border-radius: 4px;
    /* border-radius: 10px 10px 0 0; */
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.project-metadata > img {
    width:60px;
}

.project-metadata > span {
    font-size: 28px;
}

.link {
    text-decoration: none;
    transition: transform .3s; /* Animation */
}


.link:hover {
    transform: scale(1.04); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}